.container {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.inner {
  will-change: transform;
  transform-origin: center;
  overflow: visible;
  animation: rotate var(--uib-speed) linear infinite;
}

.car {
  will-change: stroke-dasharray, stroke-dashoffset;

  fill: none;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;

  transition: stroke 0.5s ease;
}

.track {
  fill: none;
  transition: stroke 0.5s ease;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stretch {
  0% {
    stroke-dasharray: 0, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 75, 150;
    stroke-dashoffset: -25;
  }

  100% {
    stroke-dashoffset: -99;
  }
}
