.container {
  display: flex;
  flex-wrap: wrap;
  @media screen and (width < 1240px) {
    margin-top: 25px;
  }
}

.mainNews {
  display: flex;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.otherNews {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;

  @media screen and (width < 1220px) {
    justify-content: center;
  }
}

