.container {
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  @media screen and (width < 1240px) {
    margin-top: 25px;
  }
}

.mainNews {
  display: flex;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.otherNews {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;

  @media screen and (width < 1220px) {
    justify-content: center;
  }
}

.loader {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
}

.noResults {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-l);
  color: var(--color-black);
  font-weight: var(--font-weight-bold);
}