html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  color: var(--white-white);

  background-color: var(--color-bg-primary);
}
