:root {
  --color-bg-primary: #f3f2ea;
  --color-bg-secondary: #020809;
  --color-white: #fff;
  --color-black: #000000;
  --color-dark-grey: #1a1a1a;
  --color-light-grey: #959595;
  --primary-green: #04594d;
  --primary-soft-red: #8e4042;;
}
